VITE_API_BASE_URL=/api/v1
VITE_USER_API_BASE_URL=/api/v1
VITE_PARTNERSHIP_API_BASE_URL=/api/v1
VITE_DOCUMENT_API_BASE_URL=/api/v1
VITE_TRAINING_API_BASE_URL=/api/v1
VITE_CERTIFICATE_API_BASE_URL=/api/v1
